name: Node.js and Docker Build

on:
  push:
    branches:
      - main
      - master
    tags:
      - "v*"

  pull_request:
    branches:
      - main
      - master

env:
  COMMIT_SHA: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Git Tag
        id: get_tag
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            git_tag=${GITHUB_REF#refs/tags/}
            echo "tag=$git_tag" >> $GITHUB_ENV
          else
            echo "tag=latest" >> $GITHUB_ENV
          fi

      - name: Build and push Base Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.base
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: type=gha,scope=base
          cache-to: type=gha,mode=max,scope=base
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-base:latest
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-base:${{ env.COMMIT_SHA }}
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-base:${{ env.tag }}
          outputs: type=image,name=${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-base,push-by-digest=false

      - name: Build and push Backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.backend
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: type=gha,scope=backend
          cache-to: type=gha,mode=max,scope=backend
          build-args: |
            BASE_IMAGE=${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-base:latest
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-backend:latest
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-backend:${{ env.COMMIT_SHA }}
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-backend:${{ env.tag }}

      - name: Build and push Frontend Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.frontend
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: type=gha,scope=frontend
          cache-to: type=gha,mode=max,scope=frontend
          build-args: |
            BASE_IMAGE=${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-base:latest
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-frontend:latest
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-frontend:${{ env.COMMIT_SHA }}
            ${{ secrets.DOCKER_USERNAME }}/xenforo-media-crawler-frontend:${{ env.tag }}
